.new-character-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}

.new-character-form{
	width: 40%;
}

.step2-ability-header {
	height: 150px;
}

.step2-ability-scores {
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.step2-ability-scores > * {
	font-size: 24px;
}

.step5-equipment-package-wrapper{
	display: flex;
	flex-wrap: wrap;
	margin: 5px;
	justify-content: center;
	align-items: center;
}
.step5-equipment-package-wrapper > *{
	margin: 5px;
	width: 200px;
}
.step5-chosen-equipment {
	display: flex;
}
.step5-chosen-equipment > *{
	margin: 0 10px 0 10px;
}

.step5-option-a-1{
	background-color: pink;
	border: 2px solid black;
}
.step5-option-a-2{
	background-color: pink;
	border: 2px dashed black;
}
.step5-option-a-3{
	background-color: pink;
	border: 2px dotted black;
}
.step5-option-b-1{
	background-color: lightblue;
	border: 2px solid black;
}
.step5-option-b-2{
	background-color: lightblue;
	border: 2px dashed black;
}
.step5-option-b-3{
	background-color: lightblue;
	border: 2px dotted black;
}
.step5-option-c-1{
	background-color: lightgrey;
	border: 2px solid black;
}
.step5-option-c-2{
	background-color: lightgrey;
	border: 2px dashed black;
}
.step5-option-c-3{
	background-color: lightgrey;
	border: 2px dotted black;
}
.step5-option-d-1{
	background-color: lightyellow;
	border: 2px solid black;
}
.step5-option-d-2{
	background-color: lightyellow;
	border: 2px dashed black
}
.step5-option-e-1{
	background-color: orange;
	border: 2px solid black
}
.step5-option-e-2{
	background-color: orange;
	border: 2px dashed black
}
.step5-option-f-1{
	background-color: lightgreen;
	border: 2px solid black
}
