
.character-sheet{
	display: grid;
	/* grid-template-columns: 10vw 25vw 30vw 30vw; */
	grid-template-rows: 100px 200px 200px 200px 200px;
	grid-template-columns: 10vw 25vw 30vw 30vw;
	/* height: 100vh; */
	background-color: lightgrey;
	overflow: scroll;
}
.sheet-buttons{
	grid-row: 1;
	grid-column: 1;
}
.sheet-pedigree{
	border: 1px solid black;
	box-sizing: border-box;
	grid-row: 1;
	grid-column: 1 / span 4;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 50% 50%;
	justify-content: center;
}

#sheet-pedigree-name {
	grid-column: 1;
	grid-row: 1 / span 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

#sheet-pedigree-other1 {
	grid-column: 2;
	grid-row: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#sheet-pedigree-other2 {
	grid-column: 2;
	grid-row: 2;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#sheet-xp {
	display: flex;
}
.sheet-character-traits{
	grid-column: 4;
	grid-row: 2 / span 2;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sheet-character-traits > *{
	width: 70%;
	height: 125px;
	overflow: scroll;
	margin-bottom: 10px;
}
.sheet-abilities {
	grid-column: 1;
	grid-row: 2 / span 5;
	flex-direction: column;
}

.sheet-defense-stats{
	grid-column: 3;
	grid-row: 2;
	display: flex;
	flex-direction: column;
}

.sheet-ac-speed {
	display: flex;
	justify-content: space-around;
}

.sheet-weapons{
	border: 1px solid black;
	grid-column: 3;
	grid-row: 3;
}
.sheet-weapons-table{
	display: flex;
	justify-content: space-around;
}
.sheet-items {
	grid-column: 3;
	grid-row: 4 / span 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sheet-currency{
	grid-column: 3;
	grid-row: 4;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 15px;
	width: 100%;
	overflow: scroll;
}
.sheet-currency > *{
	margin: 0 5px 0 5px;
}
.sheet-equipment{
	grid-column: 3;
	grid-row: 4 /span 5;
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: scroll;
}
.sheet-equipped-weapon {
	display: flex;
	align-items: center;
}
.sheet-equipped-weapon > *{
	margin: 0 5px 0 5px;
}
.sheet-hitDie-throws {
	display: flex;
	justify-content: space-around;
}

.sheet-saving-throws {
	grid-column: 2;
	grid-row: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sheet-saving-throws > *{
	display: flex;
	margin: 5px;
	justify-content: space-around;
}
.sheet-saving-throws > div > *{
	margin: 0 5px 0 5px;
}
.sheet-death-throws {
	display: flex;
}
.sheet-skills {
	grid-column: 2;
	grid-row: 3 / span 5;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sheet-skill-box {
	display: flex;
}
.sheet-skill-box > *{
	margin: 5px;
}
.sheet-hit-points{
	display: flex;
	justify-content: space-between;
}
.sheet-passive{
	grid-column: 1;
	grid-row: 5;
	display: flex;
	flex-direction: column;
}
.sheet-languages{
	grid-column: 1;
	grid-row: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.sheet-passive-wisdom{
	grid-column: 1;
	grid-row: 5;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.sheet-feats-traits{
	grid-column: 4;
	grid-row: 4 /span 2;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	box-sizing: border-box;
}
