.new-campaign-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url('../../../images/campaign-bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
