.new-character-confirm{
	display: grid;
	grid-template-columns: 10vw 25vw 30vw 30vw;
	grid-template-rows: 100px 200px 200px 200px 200px;
}

.pedigree{
	border: 1px solid black;
	box-sizing: border-box;
	grid-row: 1;
	grid-column: 1 / span 4;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 50% 50%;
	justify-content: center;
}

#pedigree-name {
	grid-column: 1;
	grid-row: 1 / span 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

#pedigree-other1 {
	grid-column: 2;
	grid-row: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#pedigree-other2 {
	grid-column: 2;
	grid-row: 2;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.character-traits{
	grid-column: 4;
	grid-row: 2 / span 2;
	display: flex;
	/* width: 70%; */
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* overflow: scroll; */
}
.character-traits > *{
	width: 70%;
	height: 125px;
	overflow: scroll;
	margin-bottom: 10px;
}
.abilities {
	grid-column: 1;
	grid-row: 2 / span 5;
}
